<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false">

    <!-- 文件输出格式 -->
    <property name="PATTERN" value="%-12(%d{yyyy-MM-dd HH:mm:ss.SSS}) |-%-5level [%thread] %c [%L] -| %msg%n" />

    <!-- 开发环境 -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${PATTERN}</pattern>
        </encoder>
    </appender>

    <logger name="org.huangpu.mydog" level="info"/>
    <logger name="log4j.logger.com.ibatis" level="debug"/>

    <root level="INFO">
        <appender-ref ref="CONSOLE" />
    </root>

</configuration>
